!<template lang="">
    <div>
        <pre>
            <code class="language-css">
.a {
  color: #42b983;
  margin-top: 10px;
  /* text-decoration: none; */
}
            </code>
        </pre>
    </div>
</template>
<script>
export default {};
</script>
<style lang="">
</style>