!<template lang="">
    <div style="margin-top: 12px;">
    </div>
        <a href="https://faun.pub/automating-your-deployment-using-gitlab-azure-storage-static-website-hosting-75c767b2569f" target="_blank"> Navigate to article </a>
        <a href="https://www.addthis.com/blog/2019/05/06/how-to-speed-up-your-gitlab-ci-pipelines-for-node-apps-by-40/#.YW80MvLitPY" target="_blank"> Optimization </a>
</template>
<script>
export default {};
</script>
<style>
a{
  color: white;
  margin-top: 10px;
  /* text-decoration: none; */
}
</style>