<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Deployed using gitlab ci/cd pipelines.
    </p>
    <div class="env-container">
      <p v-for="[key, value] of Object.entries(mode)" :key="key"> {{ key }} : <span class="env-item"> {{ value }} </span></p>
    </div>
  </div>
</template>

<script>
import envFile from './env'

export default {
  props: {
    msg: String
  },
  data() {
    return {
      mode: envFile()
    }
  },
  mounted() {
    console.info("Running on mode:", process.env.NODE_ENV)
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.env-item{
  color: #42b983;
  font-weight: bold;
}
</style>
